GameApi/objs/*.d
GameApi/objs/*.d2
GameApi/objs/*.hh.gch
GameApi/objs/*.hh.gch2
GameApi/objs/*.o
GameApi/objs/*.obj
GameApi/libGameApi.so
GameApi/libGameApi.exe
GameApi/main
GameApi/main.exe
GameApi/gmon.out
GameApi/GameApi.tar.gz
GameApi/GameApi-binary.tar.gz
GameApi/*~
GameApi/profile.txt
GameApi/#*#
GameApi/.#Effect.hh
GameApi/.#GameApiTest4.cc
GameApi/foo.err
GameApi/glew.o
GameApi/libGameApi.dll
GameApi/**/*~
GameApi/**/*.exe
GameApi/world/*.png
GameApi/world/*.jpg
GameApi/trailer/*.png
GameApi/objs/*.bc
GameApi/*.vcxproj
GameApi/*.vcxproj.filters
GameApi/CMakeCache.txt
GameApi/**/gmon.out
GameApi/**/*.html
GameApi/**/*.html.mem
GameApi/**/foo.err
GameApi/**/*.js
GameApi/cmake_install.cmake
GameApi/objs/**
GameApi/glew.o*

