GameApi/objs/*.d
GameApi/objs/*.d2
GameApi/objs/*.hh.gch
GameApi/objs/*.hh.gch2
GameApi/objs/*.o
GameApi/objs/*.obj
GameApi/libGameApi.so
GameApi/libGameApi.exe
GameApi/main
GameApi/main.exe
GameApi/gmon.out
GameApi/GameApi.tar.gz
GameApi/GameApi-binary.tar.gz
GameApi/*~
GameApi/profile.txt
GameApi/#*#
GameApi/.#Effect.hh
GameApi/.#GameApiTest4.cc
GameApi/foo.err
GameApi/glew.o
GameApi/libGameApi.dll
GameApi/**/*~
GameApi/**/*.exe
GameApi/world/*.png
GameApi/world/*.jpg
GameApi/trailer/*.png
GameApi/objs/*.bc
GameApi/*.vcxproj
GameApi/*.vcxproj.filters
GameApi/CMakeCache.txt
GameApi/**/gmon.out
GameApi/**/*.html.mem
GameApi/**/foo.err
GameApi/cmake_install.cmake
GameApi/objs/**
GameApi/glew.o*
GameApi/android-objs/*.o
GameApi/display/#*#
GameApi/display/gameapi_display.zip
GameApi/editor/*.pkg
GameApi/editor/logo-connecting.png
GameApi/editor/logo-connecting.raw
GameApi/editor/logo-downloading.png
GameApi/editor/logo-downloading.raw
GameApi/editor/logo-preparing.png
GameApi/editor/logo-preparing.raw
GameApi/editor/logo.ppm
GameApi/editor/logo.raw
GameApi/editor/*.ds
GameApi/editro/*.ogg
GameApi/*.bc
GameApi/*.wasm
GameApi/linux_todo.txt
GameApi/web_page/*.png
GameApi/web_page/web_page.*
GameApi/web_page/web_page_highmem.*
GameApi/web_page/web_page_lowmem.*
GameApi/web_page/web_page_nothreads.*
GameApi/web_page/web_page_nothreads_highmem.*
GameApi/web_page/web_page_lowmem_nothreads.*
GameApi/web_page/a.out
GameApi/web_page/#*#

