GameApi/objs/*.d
GameApi/objs/*.d2
GameApi/objs/*.hh.gch
GameApi/objs/*.hh.gch2
GameApi/objs/*.o
GameApi/objs/*.obj
GameApi/libGameApi.so
GameApi/libGameApi.exe
GameApi/main
GameApi/main.exe
GameApi/gmon.out
GameApi/GameApi.tar.gz
GameApi/GameApi-binary.tar.gz
GameApi/*~
GameApi/profile.txt
GameApi/#*#
GameApi/.#Effect.hh
GameApi/.#GameApiTest4.cc
GameApi/foo.err
GameApi/glew.o
GameApi/libGameApi.dll
