body { width: 95%; margin: 0 auto;    
       //background-color: #ffffff;
}
body {
       font-family: 'calibri', sans-serif;
       font-size: 15px;
       
}
.navi a { margin-left: 0px; padding: .25em .5em; overflow-x: ellipsis; }
.right { flex: l; };
.page_title { margin-top: 4rem; }

:after { box-sizing: border-box; }
:before { box-sizing: border-box; }

@media only screen and (max-width: 720px) {
    .level2 { visibility: hidden; }
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 420px;
  padding: 5px 0;
  background-color: #fff;
  color: #000;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

div.separator {
    position: fixed;
    top: 41px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #555;
  border: 0px solid #ffffff;
  z-index: 100;
}


div.ncenter {
  width: 95%;
  margin: 0px auto;
}

div.navi {
  color: #ffffff;
  border: 1px solid #ffffff;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 103%;
  height: 34px;
  background-color: #000;
  border-color: #000;
  margin-color: #000;
  z-index: 100;
}
div.main {
    padding: 40px 0px 0px 0px;
}
hr.hr {
    left: 0px;
    height: 1px;
    padding: 0px 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-width: 0px;
}
a.navi {
  color: inherit;
  display: inline-block;
}
a:hover.navi {
  top: 0px;
  height: 20px;
  color: inherit;
  text-decoration: none;
  background-color: #888;
  cursor: pointer;
}
a:visited.navi {
  top: 0px;
  height: 20px;
  color: inherit;
  text-decoration: none;
  background-color: #fff;
}
a:active.navi {
  top: 0px;
  height: 20px;
  color: inherit;
  text-decoration: none;
  background-color: #888;
}
a:link {
}
a:link.navi {
  color: inherit;
  text-decoration: none;
    font-family: 'calibri', sans-serif;
}
a:link:hover.navi {
  color: inherit;
  text-decoration: none;
    font-family: 'calibri', sans-serif;
  cursor: pointer;
}
a:link:visited:hover.navi {
  color: inherit;
  text-decoration: none;
    font-family: 'calibri', sans-serif;
  cursor: pointer;
}
div.link {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: inline-block;
}
div:hover.link {
    background-color: #888;
    display: inline-block;
    margin-color: #ffeedd;
    border-width: 5px;
    border-color: #888;
    border-style: solid;
  color: black;
  cursor: pointer;
}
a.label {
  color: black;
  text-decoration: none;
    font-family: 'calibri', sans-serif;
    font-weight: bold;
}
a:hover.label {
  color: #ffffff;
  text-decoration: none;
    font-family: 'calibri', sans-serif;
    font-weight: bold;
  text-shadow: 2px 2px 3px #000000;

}
div.title {
    font-size: 150%;
    margin: 8px 3px 8px 10px;
    font-weight: bold;
}
div.desc {
   font-size: 90%;
   margin: -30px 8px 8px 12px;
    font-family: 'calibri', sans-serif;
}
div.mesh_container {
    margin: 1px 1px 1px 1px;
    overflow: hidden;
    width: 1608px;
    display: flex;
    flex-flow: row nowrap;
}
div.page_content {
   border: 0px solid #ffffff;
}
div.emscripten {
   border: 12px solid #ffffff;
}
div.copy {
    border: 12px solid #ff8822;
}
div.mesh_area {
   margin: 1px 1px 1px 1px;
}
div.flex-container {
   display: -webkit-flex;
   display: flex;
   width: 103%;
   background-color: #ffffff;
   flex-direction: row;
   flex-wrap: wrap;
   flex-grow:1;
   flex-shrink:1;
   flex-basis:100%;
   align-content: flex-start;
   row-gap: 8px;
}
div.flex-item {
   display: inline;
   background-color: #ffffff;
   width: 210px;
   height: 190px;
   margin: 4px 4px 4px 4px; 
//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.label {
    position: relative;
    top: 11px;
    width: 200px;
    height: 30px;
    margin: 4px 4px 4px 4px;
    font-weight: bold;
    font-family: 'calibri', sans-serif;
    text-overflow: ellipsis;
}
div.border {
    position: relative;
    top: 6px;
    left: 6px;
    width: 202px;
    height: 152px;
    border: 0px solid #ffffffff;
    background-color: #ffffff;
}
div:hover.border {
    border: 0px solid #ff4020;
  cursor: pointer;
}
div.image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 202px;
    height: 152px;
}
img.displayimage {
    border: 2px solid #000000ff;
   border-radius: 4px;
}
img.displayimage:hover {
    border: 2px solid #000000ff;
  cursor: pointer;
}
div.emscripten_border {
   border: 5px solid black;
   border-radius: 10px;
   background-color: #000000;
   width: 800px;
}
div.highlight {
    width: 214px;
    height: 194px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
}
div:hover.highlight {
    width: 214px;
    height: 194px;
    font-weight: bold;
    background-color: #ff4020;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
  cursor: pointer;
}
div.mytable {  }
div.myrow { display: flex; align-items: baseline; }
div.mycolumn0 { width: 35px; flex: none; }
div.mycolumn1 { width: 120px; flex: none; }
div.mycolumn2 { flew-grow: 1; flex: none; }
#rectangle {
    background:#000;
}

div.highlightedtab {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}
a.highlightedtab {
    background-color: #fff;
    color: #000;
}
div:hover.highlightedtab {
    background-color: #fff;
    border-color: #fff;
    color: #000;
  cursor: pointer;
}
a:hover.highlightedtab {
    background-color: #fff;
    color: #000;
}
